/* HTML AND BODY */
body, html{
    margin: 0;
    height: 100%;
}
body{
    min-height: 100%;
    background-color: #292929;
    /* Hide scrollbars */
    /* overflow: hidden; */
}
html{
    scroll-behavior: smooth;
}
a:link,:visited{
    text-decoration: none;
    color: #f7484e;
}
a:hover{
    color: white;
}

/* HEADER */
.header{
    background-color: #292929;
    height: 100%;
    text-align: center;
    /* font-weight: bold; */
    color: white;
}
.header h3{
    font-family:Candara;
}
.header h1{
    font-family:Arial;
}
.header img{
    width: 200px;
    border-radius: 50%;
}
.header table{
    font-family:Arial;
}
.header_center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* ABOUT */
.about{
    background-color: #f7484e;
    height: 100%;
    text-align: center;
    font-family:Arial;
    color: white;
}
.about p{
    font-size: 20px;
}

/* GUEST BOOK */
.guest{
    background-color: #ffffff;
    height: 100%;
    font-family:Arial;
    color: black;
}
.guest h1{
    text-align: center;
}
.guest table{
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

/* CONTACT */
.contact{
    background-color: #292929;
    height: 100%;
    color: white;
    font-family:Arial;
}
.contact h1, p{
    text-align: center;
}
.contact table{
    margin-left: auto;
    margin-right: auto;
}
.social{
    text-align: center;
    font-size: 24px;
}

/* SCROLL UP BUTTON */
#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    /* border: none; */
    outline: none;
    background-color: #ff5252;
    border-color: #b33939;
    color: white;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
}
#myBtn:hover{
    background-color: #555;
    border-color: #fff;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #292929;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}